<tr>
  <th scope="row"><%= upload.name %></th>
  <td><%= upload.category %></td>
  <td><%= upload.subcategory %></td>
  <td><%= button_to "Download", upload.attachment_url, class: "usa-button-gray" %></td>
  <td>
    <% if current_user.admin? %>
      <%= button_to "Delete",  upload, method: :delete, class: "usa-button-secondary", data: { confirm: "Are you sure that you wish to delete #{upload.name}?" } %></td>
    <% end %>
</tr>
