<div class="titleTable">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-4 col-sm-6">
      <table class="table">
        <tr>
          <td class="seal hidden-xs">
            <%= image_tag("ct_seal.png", alt: "Connecticut Seal") %>
          </td>
          <td class="titles">
            <h3 class="districtTitle">UNITED STATES DISTRICT COURT</h3>
            <h1 class="districtTitle">District of Blank Blank Blank</h1>
            <p class="clerkTitle">Honorable Blank Blank, Chief Judge</p>
            <p class="clerkTitle">Blank Blank, Clerk of Court</p>
          </td>
        </tr>
      </table>
    </div>
    <a href="https://github.com/Quinncuatro/USFederalAgencyIntranetFramework"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
  </div>
</div>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
      
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "HR", hr_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "IT", it_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "Forms", forms_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "Operations", operations_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "What's New", whats_new_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "Court Family", court_family_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "Chambers", chambers_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "Jury", jury_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "All Documents", alldocs_path %></li>
        <li class="divider-vertical"></li>
        <!--<li><a class="navLink" href="/sphider/search.php">Search</a></li>
        <li class="divider-vertical"></li>-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>