<header class="usa-header usa-header-extended" role="banner">
    <div class="usa-navbar">
      <button class="usa-menu-btn">Menu</button>
      <div class="usa-logo" id="logo">
        <%= link_to "Webtranet", root_path, class: "usa-logo-text" %>
      </div>
    </div>
    <nav role="navigation" class="usa-nav">
      <div class="usa-nav-inner">
        <button class="usa-nav-close">
          <img src="/assets/img/close.svg" alt="close">
        </button>
        <ul class="usa-nav-primary">
          <li>
              <%= link_to "Home", root_path %>
          </li>
          <li>
              <%= link_to "HR", hr_path %>
          </li>
          <li>
              <%= link_to "IT", it_path %>
          </li>
          <li>
              <%= link_to "Forms", forms_path %>
          </li>
          <li>
              <%= link_to "Operations", operations_path %>
          </li>
          <li>
              <%= link_to "Happenings", happenings_path %>
          </li>
          <li>
              <%= link_to "Court Family", court_family_path %>
          </li>
          <li>
              <%= link_to "Chambers", chambers_path   %>
          </li>
          <li>
              <%= link_to "Jury", jury_path %>
          </li>

        </ul>
        <div class="usa-nav-secondary">
          <ul class="usa-unstyled-list usa-nav-secondary-links usa-accordian">
            <% if logged_in? %>
              <li>
                <%= link_to "Upload" , alldocs_path %>
              </li>
              <li>
                <%= link_to "Profile", current_user %>
              </li>
              <li>
                <%= link_to "Settings", edit_user_path(current_user) %>
              </li>
              <li>
                <%= link_to "Log Out", logout_path, method: "delete" %>
              </li>
            <% else %>
              <li>
                <%= link_to "Log In", login_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
