<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render 'layouts/header' %>
      <div class="bodyThing">
        <div class="usa-grid">
            <% flash.each do |message_type, message| %>
              <div class="usa-alert usa-alert-<%= message_type %>">
                <div class="usa-alert-body">
                  <h3 class="usa-alert-heading"><%= message_type %> Status</h3>
                  <p class="usa-alert-text"><%= message %></p>
                </div>
              </div>
            <% end %>
            <%= yield %>
        </div>
      </div>
      <%= render 'layouts/footer' %>
      </div>
  </body>
</html>
